#inside airflow folder, create .env with:
AIRFLOW_UID=50000

#at the root level, create .env with:
POSTGRES_PASSWORD=your_password
POSTGRES_USER=username
AIRFLOW_CONN_BACKEND_DB=postgresql://your_username:your_password@database:5432/backend_db

#inside backend/endpoints, create .env with:
GITHUB_CLIENT_ID=github_client_id
GITHUB_CLIENT_SECRET=github_client_secret

#inside backend/utils, create .env with:
SECRET_KEY=your_secret_key #for jwt
GITHUB_ENCRYPTION_KEY=fernet_generated_encryption_key #for encrypting github access token
DEVELOPMENT=True_or_False